<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ansaguide</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.png">
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
<div class="wrapper">
	<header class="header-ui">
		<h1>Руководство для сайта Ansaguide</h1>
		<div class="header-ui-logo">
			<img src="../images/header-logo.png" alt="logo">
		</div>
		<div class="header-login-enter">
			<span class="icon-register"></span>
			<a href="#">Вход в личный кабинет</a>
		</div>

		<div class="header-login-enter header-login-enter_a">
			<span class="icon-register-active"></span>
			<a href="#">Вход в личный кабинет</a>
		</div>
		
	</header>
	<div class="content">
		<div class="slider-top-menu">
			<ul>
				<li class="selectedMenu footer-menu-li_w1"><a href="index.html">home</a></li>
				<li class="footer-menu-li_w2"><a href="about.html">about us</a></li>
				<li class="footer-menu-li_w3"><a href="#">shore exursions</a></li>
				<li class="footer-menu-li_w4"><a href="tours.html">tours</a></li>
				<li class="footer-menu-li_w5"><a href="#">travel info</a></li>
				<li class="footer-menu-li_w6"><a href="#">f.a.q</a></li>
				<li class="footer-menu-li_w5"><a href="#">roll call</a></li>
				<li class="footer-menu-li_w8"><a href="contacts.html">contact us</a></li>
			</ul>
		</div>

		<div class="ui-content">
			<div class="ui-left">
				<div class="ui-li">
					<div class="content-slider-menu">
						<ul>
							<li class="selected">
								<span class="slider-menu-text">
									shore tour packages
								</span>
								<span class="icon-arrow"></span>
							</li>
							<li>
								<span class="slider-menu-text">
									hotel tour packages
								</span>
								<span class="icon-arrow"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="advantages">
					<div class="advantages-item">
						<div class="advantages-item-icon">
							<span class="icon-many"></span>
						</div>
						<article>best price guaratee</article>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
					</div>
					<div class="advantages-item advantages-active">
						<div class="advantages-item-icon">
							<span class="icon-impress"></span>
						</div>
						<article>easy online reservation</article>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
					</div>
				</div>

				<div class="ui-btns">
					<button>more</button>
					<button class="btn-active">more</button>
					<div class="selectBox">
						<div class="selectBox-city-btn">
							<span class="icon-arrow-down"></span>
						</div>
						<article>Excursion packages</article>
						<ul>
							<li>Excursion package 1</li>
							<li>Excursion packages 2</li>
						</ul>
						<input type="hidden" id="tour-package" name="tour-package" value="">
					</div>
				</div>
			</div>
			<div class="ui-right">
				<h1>Why to choose us? Testimonials</h1>
				<h2>Welcome to our website!</h2>
				<h3>Dear ladies and gentlemen!</h3>
				<p>This web site is a right places where you can find all the information you need about Saint-Petersburg Shore Excursions and Private Guided Tours arranged by fully Authorized Tour Operator "Aventura Travel". Our goal is to provide you with the absolute <a href="">best experience</a> every time you call o e-mail us to build you the itinerary for the shore excursions or private guided tours in Saint-Petersburg. Our years of experience have shown us time and time again that the one-on-one customer <em>service provided</em> by our managers is the best method for delivering the best experience to all our customers...</p>

				<ul>
					<li>First</li>
					<li>Second</li>
					<li>Third</li>
				</ul>

				<ol>
					<li>First</li>
					<li>Second</li>
					<li>Third</li>
				</ol>
			</div>
		</div>
	</div>
</div>



<footer class="footer-ui">
	<div class="footer-ui-inner">
		<div class="ui-footer-top">
			<div class="footer-check">
				<div class="checkBox">
					<span></span>
					<label for=""></label>
					<input type="hidden" id="" name="" value="">
				</div>
				<div class="checkBox">
					<span></span>
					<label for=""></label>
					<input type="hidden" id="" name="" value="">
				</div>
				<div class="checkBox checked">
					<span></span>
					<label for=""></label>
					<input type="hidden" id="" name="" value="">
				</div>
			</div>
			<div class="footer-block">
				<ul>
					<li><a href="#"><span class="icon-tripadvisor"></a></span></li>
					<li><a href="#"><span class="icon-tripadvisor"></a></span></li>
				</ul>
			</div>
			<div class="ui-footer-href">
				<ul>
					<li><a href="">About us</a></li>
					<li><a href="">Testimonials</a></li>
				</ul>
			</div>	
		</div>

		<div class="ui-table">
			<table>
				<thead>
					<tr>
						<th>Время</th>
						<th>Описание</th>
					</tr>
				</thead>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
				<tr>
					<td>07:00 : 07:30</td>
					<td>Meet at the ship as soon as it is cleared.</td>
				</tr>
		</table>
		</div>
		<div class="ui-colors">
			<ul>
				<li>
					<span></span>
					<em>#942A8F</em>
				</li>
				<li>
					<span></span>
					<em>#41aa49</em>
				</li>
				<li>
					<span></span>
					<em>#ebebeb</em>
				</li>
				<li>
					<span></span>
					<em>#8e949c</em>
				</li>
				<li>
					<span></span>
					<em>#a9a9a9</em>
				</li>
			</ul>
		</div>
	</div>
</footer>	
<script src="http://yastatic.net/jquery/1.9.0/jquery.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>